body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: pink;
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 10px 0;
}

.sidebar a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.content {
    margin-left: 220px;
    padding: 20px;
}

header {
    background-color: pink;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: auto;
}

header h1 {
    margin: 0;
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    width: 300px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.product-card img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-card h2 {
    margin: 0;
    font-size: 20px;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
}

.order-form {
    margin: 20px 0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea,
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
footer {
    background-color:pink;
    color: #000000;
    text-align: center;
    padding: 10px 0;
}